.container {
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    line-height: 20px;
}

.container a {
    text-decoration: none;
}

.container h1 {
    letter-spacing: 3px;
    margin-bottom: 20px;
    margin-top: 0;
}

.text-center {
    text-align: center;
}

.three-column-left {
    margin-top: 20px;
    text-align: center;
    float: left;
    width: 33%;
}

.three-column-center {
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    width: 33%;
}

.three-column-right {
    margin-top: 20px;
    text-align: center;
    float: right;
    width: 33%;
}

.two-column-left {
    float: left;
    width: 48%;
}

.two-column-right {
    float: right;
    width: 48%;
}

.clear {
    clear: both;
}

.container {
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.navigation {
    background-color: #FFFFFF;
    border-bottom: 1px solid #000;
    margin: 0;
    padding-top: 5px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navigation a {
    color: #000000;
}

.logo img {
    width: 200px;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.links {
    list-style: none;
    float: right;
    margin-right: 20px;
}

.links li {
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
}

.splash {
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.splash img {
    width: 100%;
}

.announcement {
    color: #3c763d;
    background-color: #dff0d8;
    text-align: center;
    padding: 20px;
    border: 1px solid #d6e9c6;
}

.section {
    padding: 35px;
}

.section a {
    color: #FC7998;
}

.services .product img {
    width: 200px;
    height: 200px;
}

.services .samples {
    margin-top: 25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 0 20px 20px 20px;
    border: 1px dashed #000000;
}

.resources ul {
    padding: 0;
    list-style: none;
}

.terms li {
    padding-bottom: 10px;
}

.terms li:last-child {
    padding-bottom: 0;
}

a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.section .faqs-body h4:before {
    content: 'Q: ';
    font-size: 24px;
    font-weight: bold;
}

.section .faqs-body p.answer:before {
    content: 'A: ';
    font-size: 24px;
    font-weight: bold;
}

.section h2 {
    color: #83D4ED;
}

.section.black {
    color: #FFFFFF;
    background-color: #393939;
}

.faqs-menu {
    width: 20%;
    padding: 10px;
    float: right;
    border: 1px solid #FFFFFF;
    margin-left: 20px;
}

.faqs-menu ul {
    padding: 0;
    list-style: none;
}

.faqs-body .question {
    border-bottom: 1px dashed #FFFFFF;
}

.faqs-body .question-image {
    text-align: center;
    margin-bottom: 20px;
}

.contact {
    padding-right: 50px;
    padding-left: 50px;
}

.contact p {
    text-align: center;
}

#credits {
    font-size: 12px;
    text-align: right;
    padding: 10px;
    letter-spacing: 1px;
}